mail:
    dominio: "piruloinc.com"
    excluidos: 
        - salon
    aliases:
        - eljefe: "pirulo"
    admins:
        - mcgyver
    smtp_user: "usuario@gmail.com"
    smtp_pass: clave


db:
    db_url: sqlite://

user:
    blacklist:
        - Administrador
        - administrador
        - root
        - admin

    whitelist:
        - marie
