<!doctype html>

<table>
	<tr>
		<th>Usuario</th>
		<th>Responsable</th>
		<th>Impresora</th>
		<th>Paginas</th>
	</tr>
{% for i in impresiones %}
	<tr>
		<td>{{i.usuario}}</td>
		<td>{{i.responsable}}</td>
		<td>{{i.impresora}}</td>
		<td>{{i.paginas}}</td>
	</tr>
{% endfor %}
</table>
